<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sistema De Votação</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <h1>🗳 Sistema De Votação</h1>

        <div class="candidato-form">
            <input type="text" id="nomeCandidato" placeholder="Nome do candidato">
            <button onclick="adicionarCandidato()">Adicionar</button>
        </div>

        <h2>Candidatos</h2>
        <div id="listaCandidatos"></div>
    </div>

    <script src="script.js"></script>
</body>
</html>